*__pycache__
*egg-info
.vscode
setup.sh
rl-starter-files/storage
rl-starter-files/storag*
rl-starter-files/submissions
ctrl.sh
rl-starter-files/evaluate/
rl-starter-files/log/
model/
llama/llama-2-*-chat
scripts/setup.sh
temp*